**Load Packages and Import Data**

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

df = pd.read_csv('carData.csv')

**Split Data**

In [11]:
X = df[df.columns[:-1]]
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
2537,Hyundai,Equus Signature,2011,"143,898 mi.",Gasoline,378.0HP 4.6L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Gray,Brown,None reported,Yes
788,Mercedes-Benz,AMG C 43 Base 4MATIC,2017,"54,500 mi.",Gasoline,362.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,9-Speed A/T,White,Black,None reported,Yes
3737,Ford,F-150 Tremor,2023,"5,500 mi.",Gasoline,400.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Gray,Black,None reported,Yes
1266,INFINITI,Q50 Premium,2014,"79,785 mi.",Gasoline,328.0HP 3.7L V6 Cylinder Engine Gasoline Fuel,7-Speed A/T,Red,White,At least 1 accident or damage reported,Yes
1612,Subaru,Impreza 2.0i Premium,2013,"112,000 mi.",Gasoline,148.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,CVT Transmission,Black,Beige,None reported,Yes

In [22]:
hp_data = df[df['engine'].str.contains('HP')]

hp_data['hp'] = hp_data['engine'].str.split().str[0]

hp_data[['brand','model','model_year','hp','price']].sort_values(by='hp',ascending=False).head()

/var/folders/43/m0vmnltx4jq7xszgbwt_cnzc0000gn/T/ipykernel_78263/1510321209.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hp_data['hp'] = hp_data['engine'].str.split().str[0]

       brand                  model  model_year       hp    price
757   Rivian  R1S Adventure Package        2023  835.0HP  $91,000
1203  Rivian     R1S Launch Edition        2023  835.0HP  $89,999
2184  Rivian  R1S Adventure Package        2023  835.0HP  $97,500
2233  Rivian     R1T Launch Edition        2022  835.0HP  $82,000
472   Rivian  R1S Adventure Package        2023  835.0HP  $91,000